/* $grid-breakpoints: (
  xs: 0,
  sm: 576px, <(cần làm)
  md: 768px,
  lg: 992px,
  xl: 1200px, <>(cần làm)
  xxl: 1400px
); */

:root {
    --grey: #7d7e7f;
    --text: #232323;
    --hr: #7d7e7f46;
    --hover: #156fc9b7;
}

* {
    font-family: 'Poppins', sans-serif;
    color: var(--text);
}

hr {
    margin: 2vh 0 !important;
}